.header {
    position: relative;
}

.header__img {
    width: 100%;
}

.header__info {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.header__title {
    font-weight: 900;
    letter-spacing: 0.065em;
}

.header__icons {
    margin-left: -2%
}