.slick-dots {
    text-align: left;
    left: 10%;
    bottom: 10%;
}

.slick-dots li button:before {
    font-size: 13px;
    color: #7D7D7D;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #2B64B5;
    border: 1px solid #2B64B5;
    border-radius: 50%;
}